/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-advanced-image-block-advanced-image-block {
	padding: 1rem;
}
.wp-block-advanced-image-block-advanced-image-block label {
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
}
.wp-block-advanced-image-block-advanced-image-block
	.components-form-file-upload
	button {
	border: 1px solid black;
}
.wp-block-advanced-image-block-advanced-image-block img {
	display: block;
	max-width: 100%;
	height: auto;
}
